/* reset css */

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.search-form{
    height: 44px;
    width: 100%;
    background-color: blueviolet;
}

.input-search{
    position: absolute;
    background-color: #ffffff;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    top: 6.4px;
    right: 25%;
}

input{
    margin: 5px 3px 5px 0;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    offset: 0;
    border: 0;
    width: 85%;
}

button{
    background-color: #ffffff;
    border: 0;
    font-size: inherit;
    margin: 5px 0 5px 0;
}

.box {
    width: 100%;
    padding: 2px 12px 2px 12px;
}

.history-search{
    display: none;
    width: 100%;
    background-color: blanchedalmond;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px 0 12px 0;
}

.box-history{
    height: 18px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 81%;
}

.history-search span{
    font-weight: 600;
}

.history-search i{
    line-height: 18px;
    font-size: 10px;
}